.structureChart {
	width: 100%;
	height: calc(100vh - 200px);
	overflow: hidden;
}

.filterBox {
	width: 100%;
	height: 200px;
	box-shadow: 0 -2px 5px #dddddd;
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: right;
	direction: rtl;
}

.filterTitle {
	padding-right: 8px;
	border-right: 3px solid #49dee9;
	color: #222222;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filterContainer {
	flex: 1;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
}

.filterContainer:last-child {
	margin-left: 0;
}

.zoomBox {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 90px;
	position: fixed;
	top: 20px;
	right: 20px;
}

.zoomButton {
	background-color: #ffffff;
}
