@import "./color";

$font-size-es: 12px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 22px;
$font-size-el: 28px;

$transition-s: 500ms;
$transition-m: 300ms;
$transition-f: 200ms;

$logo: url("../image/svg/logo.png");

$box-shadow-none: 0 0 0 -2px $box-shadow-color;
$box-shadow: 0 3px 12px 1px $box-shadow-color;
$box-shadow-hover: 0 10px 16px 1px $box-shadow-color;