.cardBox {
	h2 {
		font-weight: bold;
		font-size: $font-size-xl;
		color: $font-color;
		padding-right: 10px;
		border-right: 4px solid $secondary900;
	}
	.cards {
		@include flex-row-centered;
		width: 100%;
		padding: 30px 0 0;
		flex-wrap: wrap;
		.card {
			position: relative;
			border-radius: 8px;
			padding: 15px;
			margin: 0 20px;
			box-shadow: $box-shadow;
			background-color: $body-color;
			flex: 1;
			overflow: hidden;
			margin-bottom: 30px;
			@include flex-column-centered;
		}
		.card.service {
			max-width: 250px;
			min-width: 250px;
			min-height: 300px;
			.circle {
				position: absolute;
				top: -20px;
				right: -20px;
				width: 100px;
				height: 100px;
				@include contained-background;
				background-image: url("../assets/image/svg/circle.svg");
			}
			.sign {
				width: 35px;
				height: 40px;
				margin-bottom: 25px;
				@include contained-background;
			}
			.sign.one {
				background-image: url("../assets/image/svg/iconservice1.svg");
			}
			.sign.two {
				background-image: url("../assets/image/svg/iconservice2.svg");
			}
			.sign.three {
				background-image: url("../assets/image/svg/iconservice3.svg");
			}
			.sign.four {
				background-image: url("../assets/image/svg/iconservice4.svg");
			}
			.title {
				display: inline-block;
				font-size: $font-size-m;
				font-weight: bold;
				padding: 0 10px 10px;
				border-bottom: 3px solid $secondary900;
				margin-bottom: 15px;
				text-align: center;
			}
			.description {
				font-size: $font-size-es;
				font-weight: normal;
				text-align: justify;
				text-align-last: right;
				min-height: 100px;
				margin-bottom: 15px;
			}
			.button {
				height: 40px !important;
				border-radius: 8px !important;
				padding: 0 15px 3px;
				font-size: $font-size-s;
				font-weight: normal;
				background-color: $opposite-font-color !important;
				border: 3px solid $secondary900;
				color: $secondary900;
			}
		}
		.card.trophy {
			max-width: 220px;
			min-width: 220px;
			min-height: 200px;
			border: 3px solid $secondary900;
			.sign {
				width: 50px;
				height: 50px;
				margin-bottom: 25px;
				@include contained-background;
			}
			.sign.one {
				background-image: url("../assets/image/svg/icontrophy1.svg");
			}
			.sign.two {
				background-image: url("../assets/image/svg/icontrophy2.svg");
			}
			.sign.three {
				background-image: url("../assets/image/svg/icontrophy3.svg");
			}
			.sign.four {
				background-image: url("../assets/image/svg/icontrophy4.svg");
			}
			.titleNum {
				display: inline-block;
				font-size: $font-size-l;
				font-weight: bold;
				text-align: center;
				margin-bottom: -5px;
			}
			.titleDescription {
				font-size: $font-size-s;
				font-weight: normal;
				color: $light-font-color;
				margin-bottom: 15px;
			}
			.description {
				font-size: $font-size-m;
				font-weight: normal;
				text-align: center;
				min-height: 60px;
			}
		}
		.card.why .card.service {
	 min-height: 220px;
margin-right: -200px;
min-width: 220px;
max-width: 220px;
margin-bottom: 0;
box-shadow: none;
background-color: #2e3192;
color: white;

		}
		.card.why {
			overflow: unset;
			min-width: 300px;
			max-width: 300px;
			margin: 0 60px;
			padding: 60px 0;
			@include centered-background;
		}
		.card.why.one {
			background-image: url("../assets/image/jpg/why1.jpg");
		}
		.card.why.two {
			background-image: url("../assets/image/jpg/why2.jpg");
		}
		.card.why.three {
			background-image: url("../assets/image/jpg/why3.jpg");
		}
		.card.stepContainer {
			max-width: 230px;
			min-width: 230px;
			min-height: 300px;
			margin: 0 20px;
			overflow: unset;
			box-shadow: none;
			background-color: transparent;
			.step {
				max-width: 180px;
				min-width: 180px;
				min-height: 180px;
				border-radius: 40px;
				background-color: $secondary900;
				@include flex-column-centered;
				.sign {
					width: 80px;
					height: 80px;
					@include contained-background;
				}
				.sign.one {
					background-image: url("../assets/image/svg/step1.svg");
				}
				.sign.two {
					background-image: url("../assets/image/svg/step2.svg");
				}
				.sign.three {
					background-image: url("../assets/image/svg/step3.svg");
				}
				.stepper {
					@include flex-row-centered;
					$size: 50px;
					color: $opposite-font-color;
					background-color: $accent;
					border: 5px solid $body-color;
					font-size: $font-size-l;
					font-weight: bold;
					position: absolute;
					width: $size;
					height: $size;
					border-radius: 20px;
					top: calc($size/2 * -1);
					left: calc(50% - $size/2);
				}
			}
			.title {
				display: inline-block;
				font-size: $font-size-m;
				font-weight: bold;
				margin-top: 15px;
				margin-bottom: 15px;
				text-align: center;
				min-height: 40px;
			}
			.description {
				font-size: $font-size-s;
				font-weight: normal;
				text-align: justify;
				text-align-last: center;
				min-height: 80px;
				margin-bottom: 15px;
			}
			.button {
				height: 40px !important;
				border-radius: 8px !important;
				padding: 0 15px 3px;
				font-size: $font-size-s;
				font-weight: normal;
				background-color: $opposite-font-color !important;
				border: 3px solid $secondary900;
				color: $secondary900;
			}
		}
		.stepArrow {
			height: 60px;
			width: 200px;
			@include contained-background;
			background-image: url("../assets/image/svg/arrow.svg");
		}
		.card.serviceC {
			max-width: 240px;
			min-width: 240px;
			margin: 0 50px;
			overflow: unset;
			.title {
				@include flex-row-centered;
				padding: 8px 0;
				display: inline-block;
				font-size: $font-size-s;
				font-weight: normal;
				color: $opposite-font-color;
				height: 40px;
				margin: -15px -15px 25px;
				width: 100%;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				text-align: center;
			}
			.title.one {
				background-color: #29cc60;
			}
			.title.two {
				background-color: #3b7cde;
			}
			.title.three {
				background-color: #fb4444;
			}
			.description {
				font-size: $font-size-s;
				font-weight: normal;
				text-align: justify;
				text-align-last: right;
				min-height: 100px;
				margin-bottom: 25px;
			}
			.button {
				height: 40px !important;
				border-radius: 20px !important;
				padding: 0 15px 3px;
				font-size: $font-size-s;
				font-weight: normal;
				background-color: $opposite-font-color !important;
				border: 3px solid $secondary900;
				color: $secondary900;
			}
		}
		@media screen and (max-width: $mobile-size) {
			.card {
				min-width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
}

.compartmentBox {
	@include flex-column-centered;
	h2 {
		width: 100%;
		font-weight: bold;
		font-size: $font-size-xl;
		color: $font-color;
		padding-right: 10px;
		border-right: 4px solid $secondary900;
	}
	.compartment.support {
		@include flex-row-space-around;
		max-width: 1000px;
		.image.support {
			@include centered-background;
			background-image: url("../assets/image/jpg/support.jpg");
			border-radius: 15px;
			width: 100%;
			aspect-ratio: 1/1;
			margin-right: 50px;
			flex: 3;
			margin-bottom: 80px;
		}
		.data.support {
			@include flex-column-start;
			flex: 5;
			margin-bottom: 80px;
			h2 {
				font-weight: bold;
				font-size: $font-size-xl;
				color: $font-color;
				padding-right: 0;
				border-right: none;
				margin-bottom: 30px;
			}
			p {
				font-weight: normal;
				font-size: $font-size-m;
				color: $font-color;
				border-right: 4px solid $secondary900;
				max-width: 500px;
				padding: 5px 10px 5px 0;
			}
			.yellow {
				color: $secondary900;
			}
		}
	}
	.compartment {
		@include flex-row-space-between;
		padding: 30px 0 0;
		flex-wrap: wrap;
		width: 100%;
		.image.faq {
			@include centered-background;
			background-image: url("../assets/image/jpg/faq.jpg");
			border-radius: 15px;
			width: 100%;
			aspect-ratio: 1/1;
			flex: 1;
		}
		.data.faq {
			@include flex-column-centered;
			flex: 3;
			margin-right: 50px;
			.faqAccordion {
				width: 100%;
				box-shadow: none;
				border-radius: 0;
				background-color: transparent;
				margin-bottom: 20px;
				border-bottom: 3px solid $secondary900;
			}
			.faqAccordion:last-child {
				border-bottom: none;
				margin-bottom: 0;
			}
			.faqAccordion::before {
				background-color: transparent;
			}
			.faqQuestion {
				font-size: $font-size-m;
				font-weight: normal;
			}
			.faqAnswer {
				font-size: $font-size-s;
				font-weight: normal;
			}
		}
	}
}
