.faq {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.faqContainer {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.faqData {
	position: relative;
	padding: 40px;
	width: 100%;
	border-radius: 15px;
	background-color: #f1f1f1;
	box-shadow: $box-shadow;
	text-align: right;
	direction: rtl;
	margin-bottom: 40px;
	backdrop-filter: blur(5px);
}

.faqData:last-child {
	margin-bottom: 0;
}

.faqTitle {
	font-size: $font-size-l;
	color: $font-color;
	font-weight: bold;
	margin-bottom: 15px;
}

.faqDescription {
	font-size: $font-size-m;
	color: $font-color;
}

.faqPicture {
	position: absolute;
	top: -20px;
	left: 70px;
	width: 80px;
	height: 80px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../assets/image/png/faq.png");
}
