.footerBox {
	@include flex-column-top;
	width: 100%;
	.data {
		width: 100%;
		padding: 30px 60px;
		@include flex-column-top-right;
		background-color: $secondary900;
		color: $opposite-font-color;
		.columns {
			width: 100%;
			@include flex-row-top;
			flex-wrap: wrap;
			.column {
				flex: 1;
				padding: 0 30px 0 20px;
				min-width: calc(70% / 3);
				@include flex-column-top-right;
				min-height: 220px;
				.footerIcon {
					color: $opposite-font-color;
					font-size: $font-size-el;
					margin-left: 10px;
				}
				p {
					font-weight: normal;
					font-size: $font-size-s;
					width: 100%;
					margin-bottom: 15px;
				}
				a {
					font-weight: normal;
					font-size: $font-size-s;
					color: $opposite-font-color;
					width: 100%;
					margin-bottom: 10px;
					text-decoration: none;
					transition: $transition-f;
				}
				a:hover {
					color: $light-font-color;
				}
				h2 {
					font-weight: normal;
					font-size: $font-size-m;
					padding-right: 5px;
					border-right: 3px solid $accent;
					margin-bottom: 20px;
				}
			}
			.column.about {
				padding: 20px;
				min-width: 30%;
				border-radius: 15px;
				background-color: $opposite-font-color;
				color: $font-color;
				h2 {
					font-weight: bold;
					font-size: $font-size-l;
					color: $font-color;
					padding-right: 7px;
					border-right: 3px solid $secondary900;
					margin-bottom: 15px;
				}
				p {
					font-weight: normal;
					font-size: $font-size-s;
					max-width: 500px;
				}
			}
			.column.social {
				@include flex-column-centered;
				padding: 20px;
				min-height: 80px;
				.socialContainer {
					@include flex-row-centered;
					.socialLink {
						margin: 0 5px;
						.footerIcon {
							font-size: 40px;
						}
					}
				}
			}
			.column.map {
				@include centered-background;
				border-radius: 15px;
				min-height: 275px;
				background-image: url("../assets/image/jpg/map.jpg");
			}
		}
	}
	.copyright {
		width: 100%;
		@include flex-row-centered;
		padding: 10px 60px;
		background-color: $accent;
		color: $opposite-font-color;
		font-size: $font-size-es;
	}
}
