.swiperBody {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 0;
	margin-bottom: 80px;
}

.swiper {
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	.swiper-button-prev {
		right: 9% !important;
	}
	.swiper-button-next {
		left: 9% !important;
	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 40px !important;
		height: 40px !important;
		border: 2px solid $opposite-font-color;
		color: $secondary900;
		border-radius: 15px;
	}
	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 20px;
	}
	.swiper-button-prev::after {
		margin-left: 3px;
	}
	.swiper-button-next::after {
		margin-right: 3px;
	}
	.swiper-pagination-bullet {
		background-color: $opposite-font-color !important;
	}
	.swiper-pagination-bullet-active {
		background-color: $secondary900 !important;
		width: 20px !important;
		border-radius: 2px !important;
	}
}

.swiper-slide {
	color: $opposite-font-color;
	.slideContainer {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.slideContainer.first {
		background-image: url("../assets/image/jpg/slide1.jpg");
	}
	.slideContainer.second {
		background-image: url("../assets/image/jpg/slide2.jpg");
	}
	.slideContainer.third {
		background-image: url("../assets/image/jpg/slide3.jpg");
	}
	.title {
		font-family: $font-primary;
		font-size: $font-size-xxxl;
		font-weight: bold;
		color: $opposite-font-color;
		margin-bottom: 30px;
		.yellow {
			color: $secondary900;
		}
	}
	.description {
		font-family: $font-secondary;
		font-size: $font-size-el;
		font-weight: normal;
		color: $opposite-font-color;
		margin-bottom: 30px;
		max-width: 800px;
		text-align: center;
	}
	.button {
		height: 50px !important;
		border-radius: 25px !important;
		padding: 0 20px;
		font-size: $font-size-m;
		font-weight: normal;
		background-color: $opposite-font-color !important;
		color: $secondary900;
	}
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
