@import "./style/color.scss";
@import "./style/header.scss";
@import "./style/footer.scss";
@import "./style/supermenu.scss";
@import "./style/swiper.scss";
@import "./style/body.scss";
@import "./style/static.scss";

#root {
	position: relative;
	z-index: -3;
}

.App {
	position: relative;
	z-index: -3;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.widthFix {
	width: 100%;
	max-width: 1300px;
	padding: 0 20px;
	margin: 0 auto;
}

.widthFix.small {
	max-width: 1100px;
}

.icon {
	font-size: inherit;
	margin-right: 10px;
	color: $secondary900;
}

.admin {
	direction: ltr;
}

.dividerC.centered {
	width: 100%;
	max-width: 1000px;
}

.dividerC {
	@include flex-column-centered;
	padding: 40px 0;
	.borderC {
		border-bottom: 4px dashed $secondary900;
		width: 100%;
		max-width: 1000px;
	}
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	scrollbar-width: thin; /* "auto" or "thin" */
	scrollbar-color: #888 #f1f1f1; /* scroll thumb and track */
}
