.header {
	margin-top: 20px;
}

.logo {
	width: 14.3vw;
	height: 18.1vh;
	margin-right: -60px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../../assets/image/png/logo.png");
}

.link {
    text-decoration: none;
    color: #49DEE9;
}
